---
layout: page
title: Work
---
<section class="list">
    {% for post in site.posts %}
        {% if post.work %}
            <div class="item">
                <a class="url" href="{% if post.externalLink %}{{ post.externalLink }}{% else %}{{ site.url }}{{ post.url }}{% endif %}">
                    <aside><season>{{ post.season }}</season></aside>
                    <h3 class="title">{{ post.title }}</h3>
                    {% if post.job_icon %}
                      <img class="job_thumbnail_icon" src="{{post.thumbnail_location}}" alt="small icon">
                    {% endif %}
                </a>
            </div>
        {% endif %}
    {% endfor %}
</section>
